input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number], select, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* Style for date picker */
input[type=date] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* Style for file picker */
input[type=file] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.error-box {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #ffcccc;
  border: 1px solid #ff3333;
  border-radius: 5px;
}

